* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

.container {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
}

.nav-bar img {
    height: 100px;
    width: 150px;
    box-shadow: 5px 5px rgb(255, 255, 255);
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    position: relative;
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: block;
    transition: background 0.3s;
}

.menu a:hover {
    background-color: crimson;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    min-width: 160px;
    border-radius: 8px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: crimson;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.title {
    text-align: center;
    color: white;
    font-size: 3em;
    margin-top: 15px;
}

.contact-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    
}

.contact-card {
    width: 300px;
    height: 170px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 50px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 5px 5px rgb(191, 52, 52);
}

.contact-card:hover{
    transform: scale(1.1);
}

.contact-icon {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #333;
}

.contact-title {
    font-size: 1.5em;
    color: #333;
}

.contact-desc {
    font-size: 1em;
    color: #666;
}

.socials a {
    color: #666;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1em;
}

.socials a:hover {
    color: crimson;
}

footer {
    display: inline-block;
    background-color: rgba(70, 70, 70, 0.741);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    opacity: 0.7;
}

.footer-content {
    max-width: 800px;
    margin: auto;
}

.socialss a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    padding-top: 10px;
}

.socialss a:hover {
    color: crimson;
}

@media screen and (max-width: 400px) and (max-height: 700px) {
    .container {
        height: 230vh;
        width: 110vh;
    }

    .title-1 {
        margin-top: 20px;
        font-size: 95px;
        font-weight: 400;
    }
    
    .home {
        height: 200px;
        padding: 70px;
    }
    
    .home p {
        font-size: 30px;
    }

    .nav-bar {
        padding: 25px 80px;
    }

    footer {
        padding: 5px 0;
        position: relative;
        bottom: 0;
        width: 110vh;
        opacity: 0.7;
    }
    
    .footer-content {
        max-width: 800px;
        margin: auto;
    }
}